<div class="slot-providers">
  <div class="slot-providers-wrapper" [ngClass]="{ 'list-open': isOpen }">
    <div class="list">
      @for (provider of data; track $index) {
      <div class="link-wrapper" routerLinkActive="link-active">
        <a
          (click)="onProviderChange.emit(provider.provider)"
          routerLink="/"
          [queryParams]="{ provider: provider.provider }"
        >
          {{ provider.name }}
        </a>
      </div>
      }
    </div>
    <button
      [ngClass]="{ 'see-more-btn--open': isOpen }"
      class="see-more-btn"
      (click)="isOpen = !isOpen"
      type="button"
    >
      {{ !isOpen ? "See More" : "See Less" }}

      <img src="assets/icons/arrow.svg" />
    </button>
  </div>
</div>
