.slots-wrapper {
  .header-bar {
    height: 60px;
    background-color: #252b33;
  }

  .content {
    padding: 8px;

    &-banner {
      width: 100%;
      margin-bottom: 8px;
    }

    &-providers {
      margin-bottom: 12px;
    }
  }
}
